<h2>Appraisal Results</h2>
<div class = "row">
	<div class = "col-xs-12">
		Item Type: <%= @item_type %><br />
		Brand Name: <%= @brand_name %><br />
		Material: <%= @material %><br />
		Name: <%= @name %><br />		
	</div>
</div>