<h2>Approozle Results</h2>
<div class = "row">
	<div class = "col-xs-5">

		<h3>
			Retail Price Estimate: <%= number_to_currency @final_retail_price %> <br />
			Used Price Estimate: <%= number_to_currency @final_used_price %> <br />
			Confidence: <%= number_to_percentage @confidence %>
		</h3>
		
	</div>
</div>
<br />
<br />